<div class="container-fluid">

  <app-page-title title="Students" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" id="searchTableList" placeholder="Search..." [(ngModel)]="term" (ngModelChange)="search()">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" data-bs-toggle="modal" (click)="newContactModal.show()" class="btn btn-success btn-rounded waves-effect waves-light addContact-modal mb-2"><i class="mdi mdi-plus me-1"></i> New Contact</button>
              </div>
            </div><!-- end col-->
          </div>
          <!-- end row -->
          @if(list && list.length < 1){
            <platx-empty-state type="emptyRecords"></platx-empty-state>
          }@else{
          <div class="table-responsive">
            <table class="table align-middle table-nowrap table-hover dt-responsive nowrap w-100 " id="userList-table">
              <thead class="table-light">
                <tr>
                  <th scope="col" style="width: 40px;">#</th>
                  <th scope="col" style="width: 70px;">Photo</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">grades</th>
                  <th scope="col">Group</th>
                  <th scope="col" style="width: 150px;">Action</th>
                </tr>
              </thead>
              <tbody>
                @if(!loading){ @for (item of list; track item; let i = $index) {
                  <tr>
                    <td>{{ i + 1 + (page - 1) * pageSize }}</td>
                    <td>
                      @if(item.profileImage){
                      <div>
                        <img class="rounded-circle avatar-sm" src="{{item.profileImage}}" alt="">
                      </div>
                      }@else {
                      <div class="avatar-sm">
                        <span class="avatar-title rounded-circle">
                          {{item.firstName.charAt(0).toUpperCase()}}{{item.lastName.charAt(0)}}
                        </span>
                      </div>
                    }
                    </td>
                    <td>{{ item.firstName }}  {{ item.lastName }}</td>
                    <td>  {{ item.email }}</td>
                    <td>{{ item.grades }}</td>
                    <td>
                      <span class="badge badge-pill badge-soft-primary font-size-13">{{ item.groups[0].description}}</span>
                      </td>
                    <td>
                      <ul class="list-inline font-size-20 contact-links mb-0">
                        <li class="list-inline-item px-2">
                          <a href="javascript:void(0);" tooltip="Message"><i class="bx bx-message-square-dots"></i></a>
                        </li>
                        <li class="list-inline-item px-2">
                          <a href="javascript:void(0);" tooltip="Profile"><i class="bx bx-user-circle"></i></a>
                        </li>
                        <li class="list-inline-item">
                          <div dropdown class="dropdown">
                            <a dropdownToggle href="javascript: void(0);" class="dropdown-toggle card-drop px-2 show" aria-expanded="true"> <i class="mdi mdi-dots-horizontal font-size-18"></i> </a>
                            <ul *dropdownMenu class="dropdown-menu dropdown-menu-end show" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 31.25px);" placement="bottom-end">
                              <li><a href="javascript:void(0);" (click)="edit(item)" class="dropdown-item edit-list" data-edit-id="8"><i class="mdi mdi-pencil font-size-16 text-success me-1"></i> Edit</a></li>
                              <li><a href="javascript:void(0);" (click)="openDeleteModel(item.id)" class="dropdown-item remove-list" data-remove-id="8"><i class="mdi mdi-trash-can font-size-16 text-danger me-1"></i> Delete</a></li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  } }
              </tbody>
            </table>
          </div>
        }
          <div class="row">
            <div class="col-lg-12">
              <ul class="pagination pagination-rounded justify-content-center mt-4">
                <pagination
                class="pagination-wrap hstack gap-2"
                [totalItems]="totalCount"
                [itemsPerPage]="pageSize"
                (pageChanged)="pageChanged($event)"
              ></pagination>
                          </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div bsModal #newContactModal="bs-modal" class="modal fade" id="newContactModal" tabindex="-1" aria-labelledby="newContactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{editMode ? 'Edit':'Add New'}}</h5>
        <button type="button" class="btn-close" (click)="newContactModal.hide()"></button>
      </div>
      <div class="modal-body">

       <form (ngSubmit)="create()" [formGroup]="studentForm" autocomplete="off" class="needs-validation createContact-form" id="createContact-form" novalidate>
          <div class="row">
            <div class="col-lg-12">
              <input type="hidden" class="form-control" id="userid-input">
              <div class="text-center mb-4">
                <div class="position-relative d-inline-block">
                  <div class="position-absolute bottom-0 end-0">
                    <label for="member-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Member Image">
                      <div class="avatar-xs">
                        <div class="avatar-title bg-light border rounded-circle text-muted cursor-pointer">
                          <i class="bx bxs-image-alt"></i>
                        </div>
                      </div>
                    </label>
                    <input class="form-control d-none" value="" id="member-image-input" type="file" accept="image/png, image/gif, image/jpeg" (change)="fileChange($event)">
                  </div>
                  <div class="avatar-lg">
                    <div class="avatar-title bg-light rounded-circle">
                      <img src="assets/images/users/user-dummy-img.jpg" id="member-img" class="avatar-md rounded-circle h-auto" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <!-- ////////////// -->
              <div class="col-lg-6 mb-3">
                <label for="firstName" class="form-label">First Name *</label>
                <input type="text" id="firstName" class="form-control" placeholder="Enter First Name" formControlName="firstName" [ngClass]="{'is-invalid': submitted && studentForm.controls.firstName.invalid}" required />
                <div *ngIf="submitted && studentForm.controls.firstName.invalid" class="invalid-feedback">
                  <small *ngIf="studentForm.controls.firstName.errors.required">Please enter a first name.</small>
                </div>
              </div>

              <div class="col-lg-6 mb-3">
                <label for="lastName" class="form-label">Last Name *</label>
                <input type="text" id="lastName" class="form-control" placeholder="Enter Last Name" formControlName="lastName" [ngClass]="{'is-invalid': submitted && studentForm.controls.lastName.invalid}" required />
                <div *ngIf="submitted && studentForm.controls.lastName.invalid" class="invalid-feedback">
                  <small *ngIf="studentForm.controls.lastName.errors.required">Please enter a last name.</small>
                </div>
              </div>

              <div class="col-lg-8 mb-3">
                <label for="email" class="form-label">Email *</label>
                <input type="email" id="email" class="form-control" placeholder="Enter Email" formControlName="email" [ngClass]="{'is-invalid': submitted && studentForm.controls.email.invalid}" required />
                <div *ngIf="submitted && studentForm.controls.email.invalid" class="invalid-feedback">
                  <small *ngIf="studentForm.controls.email.errors.required">Please enter an email address.</small>
                  <small *ngIf="studentForm.controls.email.errors.email">Invalid email format.</small>
                </div>
              </div>


              <div class="col-lg-4 mb-3">
                <label for="address" class="form-label">Group *</label>
                <ng-select
                [items]="groups"
                bindLabel="description"
                bindValue="id"
                placeholder="Select Group"
                formControlName="groupId"
                [ngClass]="{'is-invalid': submitted && studentForm.controls.groupId.invalid}" required
              ></ng-select>
                <div *ngIf="submitted && studentForm.controls.groupId.invalid" class="invalid-feedback">
                  <small *ngIf="studentForm.controls.groupId.errors.required">Please select group.</small>
                </div>
              </div>

              <div class="col-lg-12 mb-3">
                <label for="address" class="form-label">Address *</label>
                <input type="text" id="address" class="form-control" placeholder="Enter Address" formControlName="address" [ngClass]="{'is-invalid': submitted && studentForm.controls.address.invalid}" required />
                <div *ngIf="submitted && studentForm.controls.address.invalid" class="invalid-feedback">
                  <small *ngIf="studentForm.controls.address.errors.required">Please enter an address.</small>
                </div>
              </div>

              <div class="col-lg-6 mb-3">
                <label for="phoneNumber" class="form-label">Phone Number *</label>
                <input type="text" id="phoneNumber" class="form-control" placeholder="Enter Phone Number" formControlName="phoneNumber" [ngClass]="{'is-invalid': submitted && studentForm.controls.phoneNumber.invalid}" required />
                <div *ngIf="submitted && studentForm.controls.phoneNumber.invalid" class="invalid-feedback">
                  <small *ngIf="studentForm.controls.phoneNumber.errors.required">Please enter a phone number.</small>
                </div>
              </div>

              <div class="col-lg-6 mb-3">
                <label for="emergencyContact" class="form-label">Emergency Contact *</label>
                <input type="text" id="emergencyContact" class="form-control" placeholder="Enter Emergency Contact" formControlName="emergencyContact" [ngClass]="{'is-invalid': submitted && studentForm.controls.emergencyContact.invalid}" required />
                <div *ngIf="submitted && studentForm.controls.emergencyContact.invalid" class="invalid-feedback">
                  <small *ngIf="studentForm.controls.emergencyContact.errors.required">Please enter an emergency contact.</small>
                </div>
              </div>

              <div class="col-lg-4 mb-3">
                <label for="grades" class="form-label">Grades *</label>
                <input type="text" id="grades" class="form-control" placeholder="Enter Grades" formControlName="grades" [ngClass]="{'is-invalid': submitted && studentForm.controls.grades.invalid}" required />
                <div *ngIf="submitted && studentForm.controls.grades.invalid" class="invalid-feedback">
                  <small *ngIf="studentForm.controls.grades.errors.required">Please enter grades.</small>
                </div>
              </div>
              <div class="col-lg-4 mb-3">
                <label for="dateOfBirth" class="form-label">Date of Birth *</label>
                <input type="date" id="dateOfBirth" class="form-control" placeholder="Enter Date of Birth" formControlName="dateOfBirth" [ngClass]="{'is-invalid': submitted && studentForm.controls.dateOfBirth.invalid}" required />
                <div *ngIf="submitted && studentForm.controls.dateOfBirth.invalid" class="invalid-feedback">
                  <small *ngIf="studentForm.controls.dateOfBirth.errors.required">Please enter a date of birth.</small>
                </div>
              </div>

              <div class="col-lg-4 mb-3">
                <label for="enrollment" class="form-label">Enrollment Date *</label>
                <input type="date" id="enrollment" class="form-control" placeholder="Enter Enrollment Date" formControlName="enrollment" [ngClass]="{'is-invalid': submitted && studentForm.controls.enrollment.invalid}" required />
                <div *ngIf="submitted && studentForm.controls.enrollment.invalid" class="invalid-feedback">
                  <small *ngIf="studentForm.controls.enrollment.errors.required">Please enter an enrollment date.</small>
                </div>
              </div>

            <div class="col-lg-12">
              <div class="text-end">
                <button type="button" class="btn btn-outline-secondary me-1" (click)="newContactModal.hide()">Cancel</button>
                <button type="submit"  class="btn btn-success">{{editMode ? 'Update':'Add New'}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- end modal body -->
    </div>
    <!-- end modal-content -->
  </div>
  <!-- end modal-dialog -->
</div>


<!-- removeItemModal -->
<div
  bsModal
  #removeItemModal="bs-modal"
  class="modal fade"
  id="removeItemModal"
  tabindex="-1"
  aria-hidden="true"
>
<platx-confirm-model
  [title]="'Are you sure you want to remove this row?'"
  (confirm)="confirmDelete(deleteId)"
  (cancel)="removeItemModal.hide()"
  />

</div>
