<div class="modal-header modal-lg">
  <h5 class="modal-title">
    {{ editEvent?.event?.id ? 'Event: ' + createEventForm.controls.name.value : 'Create Event' }}
  </h5>
  <button type="button" class="btn-close me-3" (click)="closeModal()"></button>
  @if(editEvent?.event?.id){
  <button
    type="button"
    class="edit-btn btn waves-light"
    [ngClass]="disableFormView ? 'btn-primary' : 'btn-success'"
    (click)="toggleEditMode()"
  >
    {{ disableFormView ? "Edit" : "View" }}
  </button>
  }
</div>
<div class="modal-body">
  <form [formGroup]="createEventForm">
    <div class="row">
      <div class="mb-3">
        <label for="title" class="form-label"
          >Event Name
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          id="name"
          class="form-control"
          formControlName="name"
        />
        <div
          *ngIf="
            createEventForm.controls.name.dirty &&
            createEventForm.controls.name.errors
          "
          class="text-danger"
        >
          Event name must be between 3 and 70 characters.
        </div>
      </div>

      <div class="col-4">
        <div class="mb-3">
          <label for="groups" class="form-label"
            >Groups
            <span class="text-danger">*</span>
          </label>
          <ng-select
            [items]="lookups?.groups"
            bindLabel="name"
            bindValue="id"
            formControlName="groups"
            multiple="true"
          ></ng-select>
          <div
            *ngIf="
              createEventForm.controls.groups.dirty &&
              createEventForm.controls.groups.errors
            "
            class="text-danger"
          >
            Please select at least one group.
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="students" class="form-label"
            >Students
            <span class="text-danger">*</span>
          </label>
          <ng-select
            [items]="lookups?.students"
            bindLabel="firstName"
            bindValue="id"
            formControlName="students"
            multiple="true"
          ></ng-select>
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="staffs" class="form-label"
            >Staff
            <span class="text-danger">*</span>
          </label>
          <ng-select
            [items]="lookups?.staff"
            bindLabel="firstName"
            bindValue="id"
            formControlName="staffs"
            multiple="true"
          ></ng-select>
        </div>
      </div>
      <div class="mb-3">
        <label for="frequency" class="form-label"
          >Frequency
          <span class="text-danger">*</span>
        </label>
        <ng-select
          [items]="frequencyFrequencyLookups"
          bindLabel="name"
          bindValue="id"
          formControlName="frequency"
          (change)="onFrequencyFrequencyChange($event)"
        ></ng-select>
      </div>

      <div class="col-8 mb-3">
        @if(createEventForm.controls.frequency.value == 1){
        <label for="onceDate" class="form-label">
          Event Date (Select Single Day)
          <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          #datepickerYMD="bsDatepicker"
          bsDatepicker
          formControlName="onceDate"
          id="onceDate"
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
          [minDate]="minDate"
        />
        } @if(createEventForm.controls.frequency.value == 2){
        <label for="weeklyFrequencyDays" class="form-label"
          >Event Weekly Days (Select One or multi Days)
          <span class="text-danger">*</span>
        </label>
        <ng-select
          [items]="weeklyFrequencyDays"
          bindLabel="name"
          bindValue="id"
          id="weeklyFrequencyDays"
          formControlName="weeklyFrequencyDays"
          multiple="true"
        ></ng-select>
        } @if(createEventForm.controls.frequency.value == 3){
        <label for="weeklyFrequencyDays" class="form-label"
          >Event Month Day (Select One Day)
          <span class="text-danger">*</span>
        </label>
        <ng-select
          [items]="daysOfMonth"
          bindLabel="name"
          bindValue="id"
          id="monthlyDay"
          formControlName="monthlyDay"
        ></ng-select>
        }
      </div>

      <div class="col-4 mb-3">
        <div *ngIf="createEventForm.controls.endDate.value !== 0">
          <label for="endDate" class="form-label"
            >End Date
            <span
              class="text-danger"
              *ngIf="createEventForm.controls.endDate.value !== 0"
              >*</span
            >
          </label>

          <input
            class="form-control"
            #datepickerYMD="bsDatepicker"
            bsDatepicker
            formControlName="endDate"
            id="endDate"
            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
            [minDate]="minDate"
          />
          <div
            *ngIf="
              createEventForm.controls.endDate.dirty &&
              createEventForm.controls.endDate.errors?.max
            "
            class="text-danger"
          >
            End date cannot be more than 1 year from today.
          </div>
        </div>
      </div>
      <div class="col-6 mb-3">
        <label for="startTime" class="form-label">
          Event Start Time
          <span class="text-danger">*</span>
        </label>
        <div class="input-group" id="timepicker-input-group1">
          <input
            class="form-control flatpickr-input"
            type="text"
            mwlFlatpickr
            formControlName="startTime"
            [noCalendar]="true"
            [enableTime]="true"
            [dateFormat]="'H:i'"
          />
          <span class="input-group-text"
            ><i class="mdi mdi-clock-outline"></i
          ></span>
        </div>
      </div>
      <div class="col-6 mb-3">
        <label for="duration" class="form-label"
          >Event Duration (hours)
          <span class="text-danger">*</span>
        </label>
        <input
          type="number"
          id="duration"
          class="form-control"
          formControlName="duration"
        />
        <!-- step="0.15"
          min="0.15"
          max="24" -->
        <div
          *ngIf="
            createEventForm.controls.duration.dirty &&
            createEventForm.controls.duration.errors?.max
          "
          class="text-danger"
        >
          Duration must be between 0.15 and 10 hours.
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          class="form-control"
          formControlName="description"
          rows="3"
        ></textarea>
        <div
          *ngIf="createEventForm.controls.description.errors?.maxlength"
          class="text-danger"
        >
          Description cannot exceed 1000 characters.
        </div>
      </div>

      <div class="mb-3">
        <span class="form-label me-3">Is Online Meeting</span>
        <ui-switch
          color="#556ee6"
          id="isOnline"
          uncheckedLabel="off"
          checkedLabel="on"
          size="small"
          class="me-1"
          formControlName="isOnline"
        ></ui-switch>
      </div>

      <div class="mb-3">
        <label for="locationLink" class="form-label">Location Link</label>
        <input
          type="url"
          id="locationLink"
          class="form-control"
          formControlName="locationLink"
        />
        <div
          *ngIf="createEventForm.controls.locationLink.errors?.pattern"
          class="text-danger"
        >
          Please enter a valid URL.
        </div>
      </div>
      <div class="mb-3">
        <label for="onlineMeetingLink" class="form-label"
          >Online Meeting Link</label
        >
        <input
          type="url"
          id="onlineMeetingLink"
          class="form-control"
          formControlName="onlineMeetingLink"
        />
        <div
          *ngIf="createEventForm.controls.onlineMeetingLink.errors?.pattern"
          class="text-danger"
        >
          Please enter a valid URL.
        </div>
      </div>
      <!-- isReminder: eventData.hasReminder,
      reminderTime: eventData.reminderTime,
      reminderDescription: eventData.reminderDescription, -->

      <div class="mb-3">
        <span class="form-label me-3">Has Reminder</span>
        <ui-switch
          color="#556ee6"
          id="isReminder"
          uncheckedLabel="off"
          checkedLabel="on"
          size="small"
          class="me-1"
          formControlName="isReminder"
        ></ui-switch>
      </div>

      @if (createEventForm.controls.isReminder.value== true) {
      <div class="mb-3">
        <label for="reminderDescription" class="form-label"
          >Extra Note in the Reminder</label
        >
        <textarea
          id="reminderDescription"
          class="form-control"
          formControlName="reminderDescription"
          rows="3"
        ></textarea>
        <div
          *ngIf="createEventForm.controls.reminderDescription.errors?.maxlength"
          class="text-danger"
        >
          Extra Note cannot exceed 1000 characters.
        </div>
      </div>
      }

      <div class="d-flex justify-content-between">
        @if(editEvent?.event?.id ){
        <div class="d-flex justify-content-start">
          <button
            *ngIf="editEvent"
            type="button"
            class="btn btn-danger"
            (click)="openDeleteModel()"
          >
            Delete Event
          </button>
        </div>
      }
        <div class="d-flex justify-content-end">
          <!-- @if(editMode){ -->

          <button type="button" class="btn btn-primary" (click)="saveEvent()">
            <!--  -->
            {{ editEvent?.event?.id  ? "Save Changes" : "Create Event" }}
          </button>
          <!-- } -->
        </div>
      </div>
    </div>
  </form>
</div>

<!-- removeItemModal -->
<div
  bsModal
  #removeItemModal="bs-modal"
  class="modal fade"
  id="removeItemModal"
  tabindex="-1"
  aria-hidden="true"
>
  <platx-confirm-model
    [title]="'Are you sure you want to remove this row?'"
    (confirm)="confirmDelete()"
    (cancel)="removeItemModal.hide()"
  />
</div>
<!-- end removeItemModal -->
