<div class="container-fluid">
    <app-page-title title="Classes" [breadcrumbItems]="breadCrumbItems"></app-page-title>

<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-5">Subject Progress</h4>
        <div class="">
          <tabset [justified]="true" class="nav-tabs nav-tabs-custom nav-justified tab-container">
            <tab>
              <ng-template tabHeading class="mb-2">
                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                <span class="d-none d-sm-block">Grid 1</span>
              </ng-template>
              <div class="tab-page-content  mt-3">
                <ul class="verti-timeline list-unstyled">
                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle text-primary"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <i class="bx bxs-check-circle h4 text-success"></i>
                      </div>
                      <div class="flex-grow-1">
                          <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Unite One for Grid 1</a></h5>
                            <div class="card border-0 shadow-none mb-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span >Subject 1</span></li>
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span  >Subject 2</span></li>
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span  >Subject 3</span></li>
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span  >Subject 4</span></li>
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span  >Subject 5</span></li>
                                </ul>
                             </div>
                        </div>
                    </div>
                  </li>

                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle bx-fade-right text-primary"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <i class="bx bxs-check-circle h4 text-secondary text-opacity-50" ></i>
                      </div>
                      <div class="flex-grow-1">
                          <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Unite Two</a></h5>
                            <div class="card border-0 shadow-none mb-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span >Subject 1</span></li>
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span  >Subject 2</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 3</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 4</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 5</span></li>
                                </ul>
                             </div>
                        </div>
                    </div>
                  </li>

                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle text-primary"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <i class="bx bxs-check-circle h4 text-secondary text-opacity-50"></i>
                      </div>
                      <div class="flex-grow-1">
                          <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Unite Three</a></h5>
                            <div class="card border-0 shadow-none mb-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span >Subject 1</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 2</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 3</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 4</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 5</span></li>
                                </ul>
                             </div>
                        </div>
                    </div>
                  </li>

                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle text-primary"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <i class="bx bxs-check-circle h4 text-secondary text-opacity-50"></i>
                      </div>
                      <div class="flex-grow-1">
                          <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Unite Four</a></h5>
                            <div class="card border-0 shadow-none mb-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span >Subject 1</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 2</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 3</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 4</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 5</span></li>
                                </ul>
                             </div>
                        </div>
                    </div>
                  </li>

                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle text-primary"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <i class="bx bxs-check-circle h4 text-secondary text-opacity-50"></i>
                      </div>
                      <div class="flex-grow-1">
                          <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Unite Five</a></h5>
                            <div class="card border-0 shadow-none mb-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span >Subject 1</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 2</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 3</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 4</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 5</span></li>
                                </ul>
                             </div>
                        </div>
                    </div>
                  </li>
                </ul>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading class="mb-2">
                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                <span class="d-none d-sm-block">Grid 2</span>
              </ng-template>
              <div class="tab-page-content  mt-3">
                <ul class="verti-timeline list-unstyled">
                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle text-primary"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <i class="bx bxs-check-circle h4 text-success"></i>
                      </div>
                      <div class="flex-grow-1">
                          <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Unite One for Grid 2</a></h5>
                            <div class="card border-0 shadow-none mb-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span >Subject 1</span></li>
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span  >Subject 2</span></li>
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span  >Subject 3</span></li>
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span  >Subject 4</span></li>
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span  >Subject 5</span></li>
                                </ul>
                             </div>
                        </div>
                    </div>
                  </li>

                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle bx-fade-right text-primary"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <i class="bx bxs-check-circle h4 text-secondary text-opacity-50" ></i>
                      </div>
                      <div class="flex-grow-1">
                          <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Unite Two</a></h5>
                            <div class="card border-0 shadow-none mb-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span >Subject 1</span></li>
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span  >Subject 2</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 3</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 4</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 5</span></li>
                                </ul>
                             </div>
                        </div>
                    </div>
                  </li>

                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle text-primary"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <i class="bx bxs-check-circle h4 text-secondary text-opacity-50"></i>
                      </div>
                      <div class="flex-grow-1">
                          <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Unite Three</a></h5>
                            <div class="card border-0 shadow-none mb-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span >Subject 1</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 2</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 3</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 4</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 5</span></li>
                                </ul>
                             </div>
                        </div>
                    </div>
                  </li>

                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle text-primary"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <i class="bx bxs-check-circle h4 text-secondary text-opacity-50"></i>
                      </div>
                      <div class="flex-grow-1">
                          <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Unite Four</a></h5>
                            <div class="card border-0 shadow-none mb-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span >Subject 1</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 2</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 3</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 4</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 5</span></li>
                                </ul>
                             </div>
                        </div>
                    </div>
                  </li>

                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle text-primary"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <i class="bx bxs-check-circle h4 text-secondary text-opacity-50"></i>
                      </div>
                      <div class="flex-grow-1">
                          <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Unite Five</a></h5>
                            <div class="card border-0 shadow-none mb-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span >Subject 1</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 2</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 3</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 4</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 5</span></li>
                                </ul>
                             </div>
                        </div>
                    </div>
                  </li>
                </ul>
              </div>

            </tab>
            <tab>
              <ng-template tabHeading class="mb-2">
                <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                <span class="d-none d-sm-block">Grid 3</span>
              </ng-template>
              <div class="tab-page-content mt-3">
                <ul class="verti-timeline list-unstyled">
                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle text-primary"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <i class="bx bxs-check-circle h4 text-success"></i>
                      </div>
                      <div class="flex-grow-1">
                          <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Unite One Grid 3</a></h5>
                            <div class="card border-0 shadow-none mb-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span >Subject 1</span></li>
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span  >Subject 2</span></li>
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span  >Subject 3</span></li>
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span  >Subject 4</span></li>
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span  >Subject 5</span></li>
                                </ul>
                             </div>
                        </div>
                    </div>
                  </li>

                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle bx-fade-right text-primary"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <i class="bx bxs-check-circle h4 text-secondary text-opacity-50" ></i>
                      </div>
                      <div class="flex-grow-1">
                          <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Unite Two</a></h5>
                            <div class="card border-0 shadow-none mb-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span >Subject 1</span></li>
                                    <li class="d-flex align-items-center mb-1"> <i class="bx bx-check-circle h5 text-success my-0 me-1"></i> <span  >Subject 2</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 3</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 4</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 5</span></li>
                                </ul>
                             </div>
                        </div>
                    </div>
                  </li>

                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle text-primary"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <i class="bx bxs-check-circle h4 text-secondary text-opacity-50"></i>
                      </div>
                      <div class="flex-grow-1">
                          <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Unite Three</a></h5>
                            <div class="card border-0 shadow-none mb-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span >Subject 1</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 2</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 3</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 4</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 5</span></li>
                                </ul>
                             </div>
                        </div>
                    </div>
                  </li>

                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle text-primary"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <i class="bx bxs-check-circle h4 text-secondary text-opacity-50"></i>
                      </div>
                      <div class="flex-grow-1">
                          <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Unite Four</a></h5>
                            <div class="card border-0 shadow-none mb-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span >Subject 1</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 2</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 3</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 4</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 5</span></li>
                                </ul>
                             </div>
                        </div>
                    </div>
                  </li>

                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle text-primary"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <i class="bx bxs-check-circle h4 text-secondary text-opacity-50"></i>
                      </div>
                      <div class="flex-grow-1">
                          <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Unite Five</a></h5>
                            <div class="card border-0 shadow-none mb-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span >Subject 1</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 2</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 3</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 4</span></li>
                                    <li class="d-flex align-items-center opacity-50 mb-1"> <i class="bx bx-check-circle h5 text-secondary my-0 me-1"></i> <span  >Subject 5</span></li>
                                </ul>
                             </div>
                        </div>
                    </div>
                  </li>
                </ul>
              </div>
            </tab>
          </tabset>
        </div>

      </div>
    </div>
    <!-- end card -->
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">Attached Files For Subject Unite</h4>
        <div class="table-responsive">
          <table class="table table-nowrap align-middle table-hover mb-0">
            <tbody>
              <tr>
                <td style="width: 45px;">
                  <div class="avatar-sm">
                    <span class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-24">
                      <i class="bx bxs-file-doc"></i>
                    </span>
                  </div>
                </td>
                <td>
                  <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">Skote Landing.Zip</a></h5>
                  <small>Size : 3.25 MB</small>
                </td>
                <td>
                  <div class="text-center">
                    <a href="javascript: void(0);" class="text-dark"><i class="bx bx-download h3 m-0"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="avatar-sm">
                    <span class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-24">
                      <i class="bx bxs-file-doc"></i>
                    </span>
                  </div>
                </td>
                <td>
                  <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">Skote Admin.Zip</a></h5>
                  <small>Size : 3.15 MB</small>
                </td>
                <td>
                  <div class="text-center">
                    <a href="javascript: void(0);" class="text-dark"><i class="bx bx-download h3 m-0"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="avatar-sm">
                    <span class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-24">
                      <i class="bx bxs-file-doc"></i>
                    </span>
                  </div>
                </td>
                <td>
                  <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">Skote Logo.Zip</a></h5>
                  <small>Size : 2.02 MB</small>
                </td>
                <td>
                  <div class="text-center">
                    <a href="javascript: void(0);" class="text-dark"><i class="bx bx-download h3 m-0"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="avatar-sm">
                    <span class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-24">
                      <i class="bx bxs-file-doc"></i>
                    </span>
                  </div>
                </td>
                <td>
                  <h5 class="font-size-14"><a href="javascript: void(0);" class="text-dark">Veltrix admin.Zip</a></h5>
                  <small>Size : 2.25 MB</small>
                </td>
                <td>
                  <div class="text-center">
                    <a href="javascript: void(0);" class="text-dark"><i class="bx bx-download h3 m-0"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


</div>
