.subject-list {
  li {
    cursor: pointer;
    width: 100%;

    .references {
      opacity: 0;
    }
    &:hover {
      background-color: aliceblue;
      .references {
        opacity: 1;
      }
    }
    & > :first-child {
      margin-inline-end: 50px;
    }
  }
}

.event-list {
  padding: 0px 0px 30px 30px;
}

.unit-title {
  height: 30px;
  .edit-btn {
    display: none;
  }

  &:hover {
    .edit-btn {
      display: inline-block;
    }
  }
}

.customCoursetabs{
  min-height: 500px;
}