<div class="container-fluid">
  <app-page-title
    title="Course"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-5">All Courses</h4>
          <div class="">
            <tabset
              [justified]="true"
              [vertical]="true"
              class="nav-pills custom-vertical-tab d-block d-md-flex gap-4"
            >
              <tab>
                <ng-template tabHeading class="mb-2">
                  <span class="d-block d-sm-none"
                    ><i class="fas fa-home"></i
                  ></span>
                  <span class="d-none d-sm-block">Grid 1</span>
                </ng-template>
                <div class="tab-page-content mt-3">
                  <ul class="verti-timeline list-unstyled">
                    <li class="event-list">
                      <div class="d-flex">
                        <div class="flex-grow-1">
                          <h5 class="font-size-15">
                            <a href="javascript: void(0);" class="text-dark"
                              >Unite One for Grid 1</a
                            >
                          </h5>
                          <div class="card border-0 shadow-none mb-0">
                            <ul class="list-unstyled mb-0 subject-list">
                              <li
                                class="d-flex align-items-center mb-1"
                                *ngFor="let subject of subjectList; index as i"
                              >
                                <div>
                                  <i
                                    class="bx bx-book-bookmark h5 my-0 me-1"
                                  ></i>
                                  <span>Subject {{ i + 1 }}</span>
                                </div>
                                <div class="references">
                                  <i
                                    class="mdi mdi-file-document font-size-16 text-primary me-2"
                                  ></i>
                                  <i
                                    class="mdi mdi-file-pdf font-size-16 me-2 text-danger"
                                  ></i>
                                  <i
                                    class="mdi mdi-link font-size-16 me-2 text-primary"
                                  ></i>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>

                    <div class="d-grid gap-2 p-1">
                      <button
                        type="button"
                        class="btn btn-light"
                        (click)="addUnitModal?.show()"
                      >
                        <i class="fa fa-plus text-success"></i>
                        Add Unit
                      </button>
                    </div>
                  </ul>
                </div>
              </tab>
               
              
            </tabset>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Attached Files For Subject Unite</h4>
          <div class="table-responsive">
            <table class="table table-nowrap align-middle table-hover mb-0">
              <tbody>
                <tr>
                  <td style="width: 45px">
                    <div class="avatar-sm">
                      <span
                        class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-24"
                      >
                        <i class="bx bxs-file-doc"></i>
                      </span>
                    </div>
                  </td>
                  <td>
                    <h5 class="font-size-14 mb-1">
                      <a href="javascript: void(0);" class="text-dark"
                        >platx Landing.Zip</a
                      >
                    </h5>
                    <small>Size : 3.25 MB</small>
                  </td>
                  <td>
                    <div class="text-center">
                      <a href="javascript: void(0);" class="text-dark"
                        ><i class="bx bx-download h3 m-0"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="avatar-sm">
                      <span
                        class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-24"
                      >
                        <i class="bx bxs-file-doc"></i>
                      </span>
                    </div>
                  </td>
                  <td>
                    <h5 class="font-size-14 mb-1">
                      <a href="javascript: void(0);" class="text-dark"
                        >platx Admin.Zip</a
                      >
                    </h5>
                    <small>Size : 3.15 MB</small>
                  </td>
                  <td>
                    <div class="text-center">
                      <a href="javascript: void(0);" class="text-dark"
                        ><i class="bx bx-download h3 m-0"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="avatar-sm">
                      <span
                        class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-24"
                      >
                        <i class="bx bxs-file-doc"></i>
                      </span>
                    </div>
                  </td>
                  <td>
                    <h5 class="font-size-14 mb-1">
                      <a href="javascript: void(0);" class="text-dark"
                        >platx Logo.Zip</a
                      >
                    </h5>
                    <small>Size : 2.02 MB</small>
                  </td>
                  <td>
                    <div class="text-center">
                      <a href="javascript: void(0);" class="text-dark"
                        ><i class="bx bx-download h3 m-0"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="avatar-sm">
                      <span
                        class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-24"
                      >
                        <i class="bx bxs-file-doc"></i>
                      </span>
                    </div>
                  </td>
                  <td>
                    <h5 class="font-size-14">
                      <a href="javascript: void(0);" class="text-dark"
                        >Veltrix admin.Zip</a
                      >
                    </h5>
                    <small>Size : 2.25 MB</small>
                  </td>
                  <td>
                    <div class="text-center">
                      <a href="javascript: void(0);" class="text-dark"
                        ><i class="bx bx-download h3 m-0"></i
                      ></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  bsModal
  #addUnitModal="bs-modal"
  class="modal fade modal-lg"
  id="addUnitModal"
  tabindex="-1"
  aria-hidden="true"
>
  <platx-add-unit-model
    [title]="'Add Unit'"
    [unitId]="'10'"
    [profileData]="{}"
    [model]="addUnitModal"
    [hasQualification]="false"
  />
</div>
