 @media (min-width: 576px) {
    ::ng-deep .modal-dialog {
    // margin: 0 !important;
    // padding: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    .modal-content {

    width: 80vw;
    }
}
}
