<div class="modal-header">
  <h5 class="modal-title">
    {{ editEvent ? "Edit Event" : "Create Event" }}
  </h5>
  <button type="button" class="btn-close me-3" (click)="closeModal()"></button>
  @if(editEvent){

  <button
    type="button"
    class="edit-btn btn waves-light"
    [ngClass]="editMode ? 'btn-primary' : 'btn-success'"
    (click)="toggleEditMode()"
  >
    {{ editMode ? "View" : "Edit" }}
  </button>
  }
</div>
<div class="modal-body">
  <form [formGroup]="formData">
    <div class="row">
      <div class="mb-3">
        <label for="title" class="form-label"
          >Event Name
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          id="title"
          class="form-control"
          formControlName="title"
        />
        <div
          *ngIf="
            formData.controls.title.dirty && formData.controls.title.errors
          "
          class="text-danger"
        >
          Event name must be between 3 and 70 characters.
        </div>
      </div>
      <!-- <div class="mb-3">
        <label for="category" class="form-label"
          >Category
          <span class="text-danger">*</span>
        </label>
        <ng-select
          [items]="category"
          bindLabel="name"
          bindValue="value"
          formControlName="category"
        ></ng-select>
      </div> -->
      <div class="col-4">
        <div class="mb-3">
          <label for="groupIds" class="form-label"
            >Groups
            <span class="text-danger">*</span>
          </label>
          <ng-select
            [items]="groups"
            bindLabel="name"
            bindValue="id"
            formControlName="groupIds"
            multiple="true"
          ></ng-select>
          <div
            *ngIf="
              formData.controls.groupIds.dirty &&
              formData.controls.groupIds.errors
            "
            class="text-danger"
          >
            Please select at least one group.
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="studentIds" class="form-label"
            >Students
            <span class="text-danger">*</span>
          </label>
          <ng-select
            [items]="students"
            bindLabel="name"
            bindValue="id"
            formControlName="studentIds"
            multiple="true"
          ></ng-select>
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="staffIds" class="form-label"
            >Staff
            <span class="text-danger">*</span>
          </label>
          <ng-select
            [items]="staff"
            bindLabel="name"
            bindValue="id"
            formControlName="staffIds"
            multiple="true"
          ></ng-select>
        </div>
      </div>
      <div class="mb-3">
        <label for="repeat" class="form-label"
          >Frequency
          <span class="text-danger">*</span>
        </label>
        <ng-select
          [items]="repeatFrequency"
          bindLabel="name"
          bindValue="id"
          formControlName="repeat"
          (change)="onRepeatFrequencyChange($event)"
        ></ng-select>
      </div>
      <div class="mb-3">
        <label for="WeekDays" class="form-label"
          >Week Days
          <span class="text-danger">*</span>
        </label>

        <input
          *ngIf="formData.controls.repeat.value == 0"
          class="form-control"
          #datepickerYMD="bsDatepicker"
          bsDatepicker
          formControlName="WeekDays"
          id="WeekDays"
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
          [minDate]="minDate"
        />
        <ng-select
          *ngIf="formData.controls.repeat.value == 1"
          [items]="weekdays"
          bindLabel="name"
          bindValue="id"
          id="WeekDays"
          formControlName="WeekDays"
          multiple="true"
        ></ng-select>
        <ng-select
          *ngIf="formData.controls.repeat.value == 2"
          [items]="daysOfMonth"
          bindLabel="name"
          bindValue="id"
          id="WeekDays"
          formControlName="WeekDays"
        ></ng-select>
      </div>

      <div *ngIf="formData.controls.repeat.value !== 0" class="mb-3">
        <label for="dateTo" class="form-label"
          >End Date
          <span class="text-danger" *ngIf="formData.controls.repeat.value !== 0"
            >*</span
          >
        </label>

        <input
          class="form-control"
          #datepickerYMD="bsDatepicker"
          bsDatepicker
          formControlName="dateTo"
          id="dateTo"
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
          [maxDate]="minDate"
        />
        <div
          *ngIf="
            formData.controls.dateTo.dirty &&
            formData.controls.dateTo.errors?.max
          "
          class="text-danger"
        >
          End date cannot be more than 1 year from today.
        </div>
      </div>
      <div class="mb-3">
        <label for="eventStartTime" class="form-label"
          >Event Start Time
          <span class="text-danger">*</span>
        </label>

        <timepicker
          id="eventStartTime"
          [formControlName]="'eventStartTime'"
        ></timepicker>
      </div>
      <div class="mb-3">
        <label for="eventDuration" class="form-label"
          >Event Duration (hours)
          <span class="text-danger">*</span>
        </label>
        <input
          type="number"
          id="eventDuration"
          class="form-control"
          formControlName="eventDuration"
        />
        <!-- step="0.15"
          min="0.15"
          max="24" -->
        <div
          *ngIf="
            formData.controls.eventDuration.dirty &&
            formData.controls.eventDuration.errors?.max
          "
          class="text-danger"
        >
          Duration must be between 0.15 and 24 hours.
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          class="form-control"
          formControlName="description"
          rows="3"
        ></textarea>
        <div
          *ngIf="formData.controls.description.errors?.maxlength"
          class="text-danger"
        >
          Description cannot exceed 1000 characters.
        </div>
      </div>
      <div class="mb-3">
        <label for="locationLink" class="form-label">Location Link</label>
        <input
          type="url"
          id="locationLink"
          class="form-control"
          formControlName="locationLink"
        />
        <div
          *ngIf="formData.controls.locationLink.errors?.pattern"
          class="text-danger"
        >
          Please enter a valid URL.
        </div>
      </div>
      <div class="mb-3">
        <label for="Onlinemeetinglink" class="form-label"
          >Online Meeting Link</label
        >
        <input
          type="url"
          id="Onlinemeetinglink"
          class="form-control"
          formControlName="Onlinemeetinglink"
        />
        <div
          *ngIf="formData.controls.Onlinemeetinglink.errors?.pattern"
          class="text-danger"
        >
          Please enter a valid URL.
        </div>
      </div>
      <!-- hasReminder: eventData.hasReminder,
      reminderTime: eventData.reminderTime,
      extraNoteintheReminder: eventData.extraNoteintheReminder, -->

      <div class="mb-3">
        <span class="form-label me-3">Has Reminder</span>
        <ui-switch
          color="#556ee6"
          id="hasReminder"
          uncheckedLabel="off"
          checkedLabel="on"
          size="small"
          class="me-1"
          formControlName="hasReminder"
        ></ui-switch>
      </div>
      @if (formData.controls.hasReminder.value== true) {

      <div class="mb-3">
        <label for="extraNoteintheReminder" class="form-label"
          >Extra Note in the Reminder</label
        >
        <textarea
          id="extraNoteintheReminder"
          class="form-control"
          formControlName="extraNoteintheReminder"
          rows="3"
        ></textarea>
        <div
          *ngIf="formData.controls.extraNoteintheReminder.errors?.maxlength"
          class="text-danger"
        >
          Extra Note cannot exceed 1000 characters.
        </div>
      </div>
      }

      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start">
          <button
            *ngIf="editEvent"
            type="button"
            class="btn btn-danger"
            (click)="confirmDelete()"
          >
            Delete Event
          </button>
        </div>
        <div class="d-flex justify-content-end">
          @if(editMode){

          <button
            type="button"
            class="btn btn-primary"
            (click)="saveEvent()"
            [disabled]="formData.invalid"
          >
            <!--  -->
            {{ editEvent ? "Save Changes" : "Create Event" }}
          </button>
          }
        </div>
      </div>
    </div>
  </form>
</div>
