<div class="modal-dialog modal-dialog-centered m-0">
  <div class="modal-content">
    <div class="modal-header">
      <h5 id="staticBackdropLabel" class="modal-title">{{modalData.mode == "edit" ? 'Edit grade' : 'Add grade'}}</h5>
      <button
        type="button"
        data-bs-dismiss="modal"
        aria-label="Close"
        class="btn-close"
        (click)="bsModalRef.hide()"
      ></button>
    </div>
    <div class="modal-body p-4">
      <form
        [formGroup]="gradeForm"
        (ngSubmit)="onSubmit()"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3">
          <div class="mb-2">
            <label for="name" class="form-label font-size-16 font-bold m-0"
              >Grad Name *</label
            >
          </div>
          <input id="name" class="form-control" formControlName="name" />
        </div>
        <div class="d-grade gap-2">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
