<div class="modal-dialog modal-dialog-centered m-0">
  <div class="modal-content">
    <div class="modal-header">
      <h5 id="staticBackdropLabel" class="modal-title">
        {{ modalData.mode == "edit" ? "Edit grade" : "Add grade" }}
      </h5>
      <button
        type="button"
        data-bs-dismiss="modal"
        aria-label="Close"
        class="btn-close"
        (click)="bsModalRef.hide()"
      ></button>
    </div>
    <div class="modal-body p-4">
      <form
        [formGroup]="gradeForm"
        (ngSubmit)="onSubmit()"
        class="needs-validation"
        novalidate
      >
        <div class="row">
          <div class="col-lg-12 mb-3">
            <label for="address" class="form-label"> Grad Name *</label>
            <input id="name" class="form-control" formControlName="name" />
            @if(submitted && gradeForm.controls.name.invalid){
            <div class="invalid-feedback">
              <small *ngIf="gradeForm.controls.name.errors.required"
                >Please add name .</small
              >
            </div>
            }
          </div>

          <div class="col-lg-12 mb-3">
            <label for="address" class="form-label"> Description *</label>
            <textarea
              id="description"
              class="form-control"
              formControlName="description"
            ></textarea>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-success">Submit</button>
          @if(modalData.mode == "edit"){
          <button
            type="button"
            (click)="openDeleteModel()"
            class="btn btn-danger"
          >
            Delete
          </button>
          }
        </div>
      </form>
    </div>
  </div>
</div>

<!-- removeItemModal -->
<div
  bsModal
  #removeItemModal="bs-modal"
  class="modal fade"
  id="removeItemModal"
  tabindex="-1"
  aria-hidden="true"
>
  <platx-confirm-model
    [title]="'Are you sure you want to Delete !!'"
    (confirm)="confirmDelete()"
    (cancel)="removeItemModal.hide()"
  />
</div>
<!-- end removeItemModal -->
