<div class="container-fluid">
  <!-- start page title -->
  <app-page-title
    title="Kanban Board"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card jobs-categories">
        <div class="card-body">
          @for (control of formTypes; track control.type) {
          <div
            (click)="addField(control.type)"
            class="px-3 py-2 rounded bg-light bg-opacity-50 d-block mb-2 c-pointer">
          <i class="bx bx-message-alt-dots"></i>
            {{ control.name }}
          </div>
          }
        </div>
      </div>
    </div>

    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">
          <div class="dropdown float-end" dropdown>
            <a
              href="javascript: void(0);"
              class="dropdown-toggle arrow-none"
              dropdownToggle
            >
              <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <a class="dropdown-item" href="javascript: void(0);">Edit</a>
              <a class="dropdown-item" href="javascript: void(0);">Delete</a>
            </div>
          </div>
          <!-- end dropdown -->

          <h4 class="card-title mb-4">Exam Fields</h4>
          <div
            id="question-block"
            class="pb-1 task-list"
            dndDropzone
            dndEffectAllowed="move"
            (dndDrop)="onDrop($event, questions, 'question-block')"
          >
            <div class="dndPlaceholder" dndPlaceholderRef></div>
            @for(question of questions;track $index){
            <ng-container>
              <div
                [dndDraggable]="question"
                dndEffectAllowed="move"
                (dndMoved)="onDragged(question, questions)"
              >
                <ng-template
                  [ngTemplateOutlet]="QuestionContent"
                  [ngTemplateOutletContext]="{ question: question, $index }"
                >
                </ng-template>
              </div>
            </ng-container>
            }
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
</div>

<ng-template #QuestionContent let-question="question" let-i="index">
  <div class="card task-box">
      <app-chooses-control [control]="question"></app-chooses-control>
  </div>
</ng-template>
