<div class="container-fluid">
  <!-- start page title -->
  <app-page-title
    title="Kanban Board"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <!-- end page title -->
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card jobs-categories">
        <div class="card-body">
          <div *ngFor="let control of availableFields" class="px-3 py-2 rounded bg-light bg-opacity-50 d-block mb-2 c-pointer" (click)="addField(control)" dndDraggable [dragData]="control">
            <i class="bx bx-message-alt-dots"></i>
            {{ control.label }}
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Exam Fields</h4>
          <div id="question-block" class="pb-1 task-list" dndDropzone (dndDrop)="onDrop($event)">
            <div *ngFor="let question of formFields; let i = index" dndDraggable [dragData]="question" [dragIndex]="i">
              <ng-container>
                <div class="form-group">
                  <div class=" edit-btn d-flex justify-content-end align-items-start">

                    <button  type="button" class="edit-btn btn  btn-label waves-light"
                    [ngClass]="!question.editMode  ? 'btn-primary' : 'btn-success'" (click)="toggleEditMode(question)">
                      <i class="mdi  label-icon"
                      [ngClass]="!edit ? 'mdi-pencil' : 'mdi-check'"
                      ></i> {{question.editMode ? 'Save': 'Edit'}}
                    </button>
                  </div>


                  <ng-container *ngIf="question.editMode">
                    <div class="form-group">
                      <label>Qustion Text</label>
                      <ckeditor [editor]="Editor" [(ngModel)]="question.labelText" data="<p>Content of the editor.</p>"></ckeditor>
                      <div *ngIf="!question.labelText" class="text-danger">Label is required</div>
                    </div>
                    <div class="form-group">
                      <label>Label Image</label>
                      <input type="file" class="form-control" (change)="onImageUpload(question, $event)">
                      <img *ngIf="question.labelImage" [src]="question.labelImage" alt="Label Image" class="question-img img-thumbnail mt-2">
                    </div>
                    <ng-container [ngSwitch]="question.type">
                      <div *ngSwitchCase="'single'" class="form-group">
                        <div *ngFor="let option of question.options; let j = index">
                          <div class="d-flex align-items-center justify-content-between">
                            <div>
                              <p class="mb-0  my-x">{{ j + 1 }} - {{ option }}</p>
                            </div>

                           <div>
                            <input type="checkbox" class="ms-2 " (change)="toggleCorrectAnswer(question, option)" [checked]="question.correctAnswers.includes(option)"> Correct
                            <button type="button"  class="btn btn-light mt-3 mt-lg-0" >
                              <i class="mdi mdi-trash-can d-block text-danger font-size-16" (click)="removeOption(question, j)"></i>
                            </button>
                           </div>

                          </div>
                        </div>
                        <div class="input-group mt-2">
                          <input type="text" class="form-control" [(ngModel)]="question.newOption" placeholder="New option">
                          <button type="button" class="btn btn-secondary" (click)="addOption(question)">Add Option</button>
                        </div>
                      </div>
                      <div *ngSwitchCase="'multiple'" class="form-group">
                        <div *ngFor="let option of question.options; let j = index">
                          <div class="d-flex align-items-center">
                            {{ i + 1 }}.{{ j + 1 }}
                            <input type="checkbox" [name]="question.id" [value]="option" class="me-2"> {{ option }}
                            <input type="checkbox" class="ms-2" (change)="toggleCorrectAnswer(question, option)" [checked]="question.correctAnswers.includes(option)"> Correct
                            <button type="button" class="btn btn-danger btn-sm ms-2" (click)="removeOption(question, j)">Remove</button>
                          </div>
                        </div>
                        <div class="input-group mt-2">
                          <input type="text" class="form-control" [(ngModel)]="question.newOption" placeholder="New option">
                          <button type="button" class="btn btn-secondary" (click)="addOption(question)">Add Option</button>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="!question.editMode">
                    <div *ngIf="question.labelImage" class="text-center">
                      <img [src]="question.labelImage" alt="Label Image" class="question-img img-thumbnail mt-2 ">
                    </div>
                    <div class="d-flex justify-content-start align-items-start">
                    <div class="font-size-18">{{ i + 1 }}.</div>
                      <div *ngIf="question.labelText" class="question-block" [innerHtml]='question.labelText'></div>
                      </div>
                    <div *ngIf="question.type === 'single' || question.type === 'multiple'" class="mt-2">
                          <div class="form-check form-check-inline" *ngFor="let option of question.options; let j = index">
                            <div class="form-check-input"name="option" [id]="option" value="option1"> </div>
                            <label class="form-check-label" [for]="option">{{ j + 1 }} - {{ option }}
                              <span *ngIf="question.correctAnswers.includes(option)" class="badge bg-success ms-2">Correct</span>
                            </label>
                          </div>
                    </div>
                  </ng-container>
                  <button type="button" class="btn btn-danger mt-2" (click)="removeField(i)">delete question</button>
                </div>
              </ng-container>
            </div>
          </div>
          <button type="button" class="btn btn-primary mt-3" (click)="submitForm()">Submit</button>
        </div>
      </div>
    </div>
  </div>



<ng-template #QuestionContent let-question="question" let-i="index">
  <div class="card task-box">
      <app-chooses-control [control]="question"></app-chooses-control>
  </div>
</ng-template>
