<div class="container-fluid">

  <app-page-title title="Users List" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" id="searchTableList" placeholder="Search..." [(ngModel)]="term" (ngModelChange)="searchJob()">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" routerLink="./new-exam" class="btn btn-success btn-rounded waves-effect waves-light addContact-modal mb-2">
                  <i class="mdi mdi-plus me-1"></i> Create Exam

                </button>
              </div>
            </div><!-- end col-->
          </div>
          <!-- end row -->
          <div class="table-responsive">
            <table class="table align-middle table-nowrap table-hover dt-responsive nowrap w-100" id="userList-table">
              <thead class="table-light">
                <tr>
                  <th scope="col" style="width: 40px;">No.</th>
                  <th scope="col">File</th>
                  <th scope="col">Name</th>
                  <th scope="col">Created at</th>
                  <th scope="col" style="width: 200px;">Action</th>
                </tr>
              </thead>
              <tbody>
                @for (item of filteredList; track $index) {
                <tr>
                  <td>
                    <p class="text-muted mb-0">{{$index + 1}}</p>
                  </td>
                  <td>
                    <a  href="javascript: void(0);" class="text-body d-flex align-items-center">
                      <i  class="mdi mdi-file-pdf font-size-24 me-2 text-danger"></i>
                      <span  class="me-auto">PDF</span></a>
                  </td>
                  <td>
                    <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">{{item.name}}</a>
                    </h5>
                  </td>
                  <td>{{ convertDateToLocalDate(item.creationTime) | date : "medium"}}</td>

                  <td>
                    <ul class="list-inline font-size-20 contact-links mb-0">
                      <li class="list-inline-item px-2">
                        <a href="javascript:void(0);" tooltip="Edit" >
                          <i class="mdi mdi-pencil font-size-16 text-success me-1" (click)="editUser($index)"></i>
                        </a>
                      </li>
                      <li class="list-inline-item px-2">
                        <a href="javascript:void(0);" tooltip="Delete" (click)="removeUser(item.id)"><i class="mdi mdi-trash-can font-size-16 text-danger me-1"></i> </a>
                      </li>
                    </ul>
                  </td>
                </tr>}
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <ul class="pagination pagination-rounded justify-content-center mt-4">
                <pagination class="pagination-wrap hstack gap-2" [totalItems]="totalCount" [itemsPerPage]="pageSize"
                  (pageChanged)="pageChanged($event)"></pagination>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


@if(loading){
<div id="elmLoader" class="text-center">
  <div class="spinner-border text-primary avatar-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
}
<!-- removeItemModal -->
<div bsModal #removeItemModal="bs-modal" class="modal fade" id="removeItemModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body px-4 py-5 text-center">
        <button type="button" class="btn-close position-absolute end-0 top-0 m-3" (click)="removeItemModal.hide()"></button>
        <div class="avatar-sm mb-4 mx-auto">
          <div class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3">
            <i class="mdi mdi-trash-can-outline"></i>
          </div>
        </div>
        <p class="text-muted font-size-16 mb-4">Are you Sure You want to Remove this User ?</p>

        <div class="hstack gap-2 justify-content-center mb-0">
          <button type="button" class="btn btn-danger me-1" id="remove-item" (click)="confirmDelete(deleteId)">Remove Now</button>
          <button type="button" class="btn btn-secondary" (click)="removeItemModal.hide()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end removeItemModal -->
