<div class="modal-dialog modal-dialog-centered m-0">
  <div class="modal-content">
    <div class="modal-header">
      <h5 id="staticBackdropLabel" class="modal-title">
        {{ modalData.mode == "edit" ? "Edit Unit" : "Add Unit" }}
      </h5>
      <button
        type="button"
        data-bs-dismiss="modal"
        aria-label="Close"
        class="btn-close"
        (click)="bsModalRef.hide()"
      ></button>
    </div>
    <div class="modal-body p-4">
      <form
        [formGroup]="unitForm"
        (ngSubmit)="onSubmit()"
        class="needs-validation"
        novalidate
      >
        <div class="row mb-3">
          <div class="col-9">
            <div class="mb-2">
              <label for="name" class="form-label font-size-16 font-bold m-0"
                >Unit title *</label
              >
            </div>
            <input id="name" class="form-control" formControlName="name" />

            <div class="errors">
              @if( submitted && unitForm.controls.name?.errors?.required){
              <small class="error">this field is required</small>
              }
            </div>
          </div>

          <div class="col-3">
            <div class="mb-2">
              <label for="name" class="form-label font-size-16 font-bold m-0"
                >Unit Order *</label
              >
            </div>
            <ng-select
              [items]="orderList"
              bindLabel="number"
              bindValue="number"
              placeholder="Order Number For this Unit"
              formControlName="orderNo"
            ></ng-select>
            <div class="errors">
              @if(submitted && unitForm.controls.orderNo?.errors?.required){
              <small class="error">this field is required</small>
              }
            </div>
          </div>
        </div>

        <div class="mb-3">
          <div class="mb-2">
            <label
              for="description"
              class="form-label font-size-16 font-bold m-0"
              >Unit Description</label
            >
            <p class="font-size-10 m-0">
              You can write about your Unit Description
            </p>
          </div>
          <textarea
            id="description"
            class="form-control"
            formControlName="description"
          ></textarea>
        </div>

        <div formArrayName="subjects">
          @for (subject of subjects.controls; track $index){
          <div [formGroupName]="$index" class="mb-3 border p-3 rounded">
            <div class="mb-3 row">
              <div class="row justify-content-between mb-3 p-0">
                <div class="form-check ms-4 w-50"></div>
                <button
                  (click)="removeUnitSubject($index)"
                  class="btn-close"
                ></button>
              </div>
              <label for="name" class="col-md-3 col-form-label"
                >Subject Name</label
              >
              <div class="col-md-9">
                <input
                  type="text"
                  placeholder="subject name Example 'math'"
                  id="name"
                  formControlName="name"
                  class="form-control"
                  required
                />
                <div class="errors">
                  @if( submitted && subject.get('name').invalid){
                  <small class="error">this field is required</small>
                  }
                </div>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="attachementId" class="col-md-3 col-form-label"
                >Document / Link
              </label>
              <div class="col-md-9">
                <ng-select
                  [items]="files"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Select Document for Subject"
                  formControlName="attachementId"
                  (search)="search($event)"
                ></ng-select>
                <div class="errors">
                  @if(submitted &&
                  subject.get('attachementId').errors?.required){
                  <small class="error">this field is required</small>
                  }
                </div>
              </div>
            </div>

            <div class="mb-1 row">
              <label for="orderNo" class="col-md-3 col-form-label"
                >Order In Subject List</label
              >
              <div class="col-md-9">
                <ng-select
                  [items]="orderList"
                  bindLabel="number"
                  bindValue="number"
                  placeholder="Select Order of Subject"
                  formControlName="orderNo"
                  [ngClass]="{
                    'is-invalid': submitted && subject.get('orderNo').invalid
                  }"
                  required
                ></ng-select>
                <div class="errors">
                  @if(submitted && subject.get('orderNo').errors?.required){
                  <small class="error">this field is required</small>
                  }
                </div>
              </div>
            </div>
          </div>
          }
          <div class="d-grid gap-2">
            <button
              type="button"
              class="btn btn-light"
              (click)="addUnitSubject()"
            >
              <i class="fa fa-plus text-success"></i>
              Add Subject
            </button>
          </div>
        </div>
        <hr class="mb-3 mt-3" />

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
