<div class="container-fluid">
  <app-page-title
    title="Chat"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="d-lg-flex">
    <div class="chat-leftsidebar me-lg-4">
      <div class="">
        <div class="py-4 border-bottom">
          <div class="d-flex">
            <div class="flex-shrink-0 align-self-center me-3">
              <img
                src="assets/images/users/avatar-1.jpg"
                class="avatar-xs rounded-circle"
                alt=""
              />
            </div>
            <div class="flex-grow-1">
              <h5 class="font-size-15 mb-1">Mohamed Salah</h5>
              <p class="text-muted mb-0">
                <i class="mdi mdi-circle text-success align-middle me-1"></i>
                Active
              </p>
            </div>

            <div dropdown>
              <div class="dropdown chat-noti-dropdown active">
                <button
                  class="btn dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  dropdownToggle
                >
                  <i class="bx bx-bell bx-tada"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                  <a class="dropdown-item" href="javascript: void(0);"
                    >Action</a
                  >
                  <a class="dropdown-item" href="javascript: void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript: void(0);"
                    >Something else here</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="search-box chat-search-box py-4">
          <div class="position-relative">
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              (keyup)="ContactSearch()"
              id="searchContact"
              autocomplete="off"
            />
            <i class="bx bx-search-alt search-icon"></i>
          </div>
        </div>

        <div class="chat-leftsidebar-nav">
          <tabset [justified]="true" class="nav-pills nav-justified">
            <tab [heading]="'Chat (' + studentsChats?.length + ')'" class="">
              <div class="py-4 tab-content">
                <h5 class="font-size-14 mb-3">Chat history with Students</h5>
                <ngx-simplebar
                  style="position: relative; height: 410px"
                  #scrollEle
                >
                  <ul class="list-unstyled chat-list">
                    @for (chat of studentsChats; track $index) {
                    <li class="">
                      <a
                        href="javascript: void(0);"
                        (click)="chatClicked(chat, 'student')"
                      >
                        <div class="d-flex">
                          <div class="flex-shrink-0 align-self-center me-3">
                            <i
                              class="mdi mdi-circle text-success font-size-10"
                            ></i>
                          </div>
                          <div class="avatar-xs align-self-center me-3">
                            <span
                              class="avatar-title rounded-circle bg-primary-subtle text-primary"
                            >
                              {{ chat.firstName.charAt(0) }}
                              {{ chat.lastName.charAt(0) }}
                            </span>
                          </div>

                          <div class="flex-grow-1 overflow-hidden">
                            <h5 class="text-truncate font-size-14 mb-1">
                              {{ chat.firstName }} {{ chat.lastName }}
                            </h5>
                            <p class="text-truncate mb-0">
                              {{ convertDateToLocalDate(chat.lastUpdateDate) | date : "MMM d, h:mm a" }}
                            </p>
                          </div>

                          <div
                            class="flex-grow-1 overflow-hidden d-flex align-self-center justify-content-end"
                          >
                            <i class="bx bx-rotate-right font-size-20"></i>
                          </div>
                        </div>
                      </a>
                    </li>
                    }
                  </ul>
                </ngx-simplebar>
              </div>
            </tab>
            <tab
              [heading]="'Groups (' + groups?.length + ')'"
              class="py-4 tab-content"
            >
              <h5 class="font-size-14 mb-3">Chat history with Groups</h5>
              <ngx-simplebar
                style="position: relative; height: 410px"
                #scrollEle
              >
                <ul class="list-unstyled chat-list">
                  @for (group of groups; track group.id) {
                  <li>
                    <a
                      href="javascript: void(0);"
                      (click)="chatClicked(group, 'group')"
                    >
                      <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 align-self-center me-3">
                          <i
                            class="mdi mdi-circle text-secondary font-size-10"
                          ></i>
                        </div>
                        @if(group.icon){
                        <div class="flex-shrink-0 align-self-center me-3">
                          <img
                            src="{{ group.icon }}"
                            class="rounded-circle avatar-xs"
                            alt=""
                          />
                        </div>
                        }@else{
                        <div class="avatar-xs align-self-center me-3">
                          <span
                            class="avatar-title rounded-circle bg-primary-subtle text-primary"
                          >
                            {{ group.description.charAt(0) }}
                          </span>
                        </div>
                        }
                        <div class="flex-grow-1">
                          <h5 class="font-size-14 mb-0">
                            {{ group.description }}
                          </h5>
                        </div>
                        <div
                          class="flex-grow-1 overflow-hidden d-flex align-self-center justify-content-end"
                        >
                          <i class="bx bx-rotate-right font-size-20"></i>
                        </div>
                      </div>
                    </a>
                  </li>
                  }
                </ul>
              </ngx-simplebar>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
    <div class="w-100 user-chat">
      <div class="card">
        <div class="p-4 border-bottom">
          <div class="row">
            <div class="col-md-4 col-9">
              <h5 class="font-size-15 mb-1">{{ chatName }}</h5>
              <p class="text-muted mb-0">
                <i class="mdi mdi-circle text-success align-middle me-1"></i>
                Active now
              </p>
            </div>
            <div class="col-md-8 col-3">
              <ul class="list-inline user-chat-nav text-end mb-0">
                <li class="list-inline-item d-none d-sm-inline-block">
                  <div class="dropdown" dropdown>
                    <button
                      class="btn nav-btn dropdown-toggle"
                      type="button"
                      data-toggle="dropdown"
                      dropdownToggle
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="bx bx-cog"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                      <a class="dropdown-item" href="javascript: void(0);"
                        >View Profile</a
                      >
                      <a
                        class="dropdown-item"
                        href="javascript: void(0);"
                        (click)="deleteAllMessage()"
                        >Clear chat</a
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div>
          <div class="chat-conversation p-3">
            <ngx-simplebar style="height: 470px" #scrollRef>
              @if(chatMessages?.length > 0){
              <ul class="list-unstyled">
                @for (data of chatMessages; track $index) {
                <li
                  [ngClass]="{
                    right: data?.align == 'right'
                  }"
                >
                  <div class="conversation-list">
                    <div class="dropdown" dropdown>
                      <a
                        class="dropdown-toggle"
                        href="javascript: void(0);"
                        role="button"
                        dropdownToggle
                      >
                        <i class="bx bx-dots-vertical-rounded"></i>
                      </a>
                      <div class="dropdown-menu" *dropdownMenu>
                        <a
                          class="dropdown-item"
                          href="javascript: void(0);"
                          (click)="copyMessage($event)"
                        >
                          Copy
                        </a>
                        <a
                          class="dropdown-item text-danger"
                          href="javascript: void(0);"
                          (click)="deleteMessage(data.id)"
                        >
                          Delete
                        </a>
                      </div>
                    </div>
                    <div class="ctext-wrap">
                      @if(data?.senderStaff){
                      <div class="conversation-name">
                        {{ data.senderStaff.firstName }}
                        {{ data.senderStaff.lastName }}
                      </div>
                      } @if(data?.senderStudent){
                      <div class="conversation-name">
                        {{ data.senderStudent.firstName }}
                        {{ data.senderStudent.lastName }}
                      </div>
                      }
                      <p>
                        {{ data.content }}
                      </p>
                      <p class="chat-time mb-0">
                        <i class="bx bx-time-five align-middle me-1"></i>
                        {{ convertDateToLocalDate(data.sentAt) | date : "MMM d, h:mm a" }}

                      </p>
                    </div>
                  </div>
                </li>
                }
              </ul>
              }@else{
              <platx-empty-state
                type="emptyRecords"
                message="No Chat Found Start It Now !"
              />
              }
            </ngx-simplebar>
          </div>
          <div class="p-3 chat-input-section">
            <form (ngSubmit)="messageSave()" [formGroup]="formData" class="row">
              <div class="col">
                <div class="position-relative">
                  <input
                    type="text"
                    class="form-control chat-input"
                    placeholder="Enter Message..."
                    formControlName="message"
                    [ngClass]="{
                      'is-invalid': chatSubmit && form.message.errors
                    }"
                    [(ngModel)]="emoji"
                    (blur)="onBlur()"
                    (focus)="onFocus()"
                  />
                  @if(chatSubmit && form.message.errors){
                  <div class="invalid-feedback">
                    @if(form.message.errors.required){
                    <span>This value is required.</span>
                    }
                  </div>
                  }
                  <div class="chat-input-links">
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item">
                        <a
                          href="javascript: void(0);"
                          class="emoji-btn"
                          data-toggle="tooltip"
                          placement="top"
                          tooltip="Emoji"
                          id="emoji-btn"
                          (click)="toggleEmojiPicker()"
                          ><i class="mdi mdi-emoticon-happy-outline"></i
                        ></a>
                      </li>
                      @if(showEmojiPicker){
                      <emoji-mart
                        class="emoji-mart"
                        (emojiSelect)="addEmoji($event)"
                        title="Pick your emoji…"
                      ></emoji-mart>
                      }
                      <li class="list-inline-item">
                        <a
                          href="javascript: void(0);"
                          data-toggle="tooltip"
                          placement="top"
                          tooltip="Images"
                          ><i class="mdi mdi-file-image-outline"></i
                        ></a>
                      </li>
                      <li class="list-inline-item">
                        <a
                          href="javascript: void(0);"
                          data-toggle="tooltip"
                          placement="top"
                          tooltip="Add Files"
                          ><i class="mdi mdi-file-document-outline"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <button
                  type="submit"
                  class="btn btn-primary btn-rounded chat-send w-md"
                >
                  <span class="d-none d-sm-inline-block me-2">Send</span>
                  <i class="mdi mdi-send"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
