 @if(group){
 <div class="card">
  <div class="card-body">
    <div class="d-flex">
      <div class="flex-shrink-0 me-2">
        <div class="avatar-md">
          <span class="avatar-title rounded-circle bg-light text-danger font-size-16">
            <img [src]="group.icon" alt height="25" />
          </span>
        </div>
      </div>
      <div class="flex-grow-1 overflow-hidden">
        <h5 class="text-truncate font-size-15">
          <a [routerLink]="['./overview', group.id]" class="text-dark">
            {{ group.description }}
          </a>
        </h5>
        <p class="text-muted mb-2">{{ group.description }}</p>
        <div class="avatar-group">
          <ng-container *ngFor="let studentsIcon of group.studentsIcons; let i = index">
            <div class="avatar-group-item" *ngIf="i < 4">
              <a href="javascript: void(0);" class="d-inline-block">
                <img [src]="studentsIcon" class="rounded-circle avatar-xs" alt />
              </a>
            </div>
          </ng-container>
          <div class="avatar-group-item">
            <a href="javascript: void(0);" class="rounded-circle avatar-title">
              +{{ group?.studentsIcons?.length }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 py-3 border-top">
    <ul class="list-inline mb-0">
      <li class="list-inline-item me-3">
        <span class="badge"
              [ngClass]="{
                'bg-success': group.isActive,
                'bg-warning': !group.isActive,
                'bg-danger': !group.isActive
              }">
          {{ group.isActive ? 'Active' : 'Disactive' }}
        </span>
      </li>
      <li class="list-inline-item me-3" title="Due Date" tooltip="Due Date">
        <i class="bx bx-calendar me-1"></i>
        {{ group.nextDueDate }}
      </li>
      <li class="list-inline-item me-3" title="Group Time" tooltip="Group Time">
        <i class="bx bx-time-five me-1"></i>
        {{ group.nextDueTime }}
      </li>
    </ul>
  </div>
</div>
}
